/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Positioning Classes */

.row .col-4 {
  width: 32%;
  margin-left: 1.5%;
}
.row .col-8 {
  width: 66%;
}
.row div[class*="col-"]:first-child {
  margin-left: 0;
}
.row div[class*="col-"] {
  display: inline-block;
  vertical-align: top;
}
